<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      href="/assets2/img/kaiadmin/  .ico"
      type="image/x-icon"
    />

    <!-- Fonts and icons -->
    <script src="/assets2/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["/assets2/css/fonts.min.css"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets2/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets2/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="/assets2/css/adminValidationStyle.css" />
    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  </head>
  <body>
    

    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="#" class="logo">
              <h2 class="text-white fw-bold"><i class="fas fa-shopping-cart fs-4 text-secondary"></i> WingCart</h2>
            </a>
            <!-- <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div> -->
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active">
                <a href="/admin/dashboard">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/userManagement">
                  <i class="fas fa-user-cog"></i>
                  <p>User Management</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/categoryManagement">
                  <i class="fas fa-layer-group"></i>
                  <p>Category Management</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="#forms">
                    <i class="fas fa-box-open"></i>
                  <p>Product Management</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="#tables">
                    <i class="fas fa-shopping-cart"></i>
                  <p>Order Management</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="#maps">
                  <i class="fas fa-sign"></i>
                  <p>Banner Management</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/offersAndCoupons">
                  <i class="fas fa-tags"></i>
                  <p>Offers & Coupons</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/salesReport">
                  <i class="fas fa-chart-bar"></i>
                  <p>Sales Report</p>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="index.html" class="logo">
                <img
                  src="/assets2/img/kaiadmin/logo_light.svg"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="20"
                />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <nav
                class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
              >

              <!-- Search -->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                      <i class="fa fa-search search-icon"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    placeholder="Search ..."
                    class="form-control"
                  />
                </div>
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li
                  class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
                >
                  <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input
                          type="text"
                          placeholder="Search ..."
                          class="form-control"
                        />
                      </div>
                    </form>
                  </ul>
                </li>
                <li class="nav-item topbar-icon dropdown hidden-caret">
                  <ul
                    class="dropdown-menu messages-notif-box animated fadeIn"
                    aria-labelledby="messageDropdown"
                  >
                  </ul>
                </li>

                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <div class="avatar-sm">
                      <i class="fas fa-user-alt"></i>
                    </div>
                    <span class="profile-username">
                      <span class="fw-bold">Uvais</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box align">
                          <div class="avatar-lg">
                            <i class="fas fa-user-alt"></i>
                          </div>
                          <div class="u-text">
                            <h4>Uvais</h4>
                            <p class="text-muted">hello@example.com</p>
                            <a
                              href="profile.html"
                              class="btn btn-xs btn-secondary btn-sm"
                              >View Profile</a
                            >
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Profile</a>
                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>

        <div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h4 class="page-title">Edit Category</h4>
              <ul class="breadcrumbs">
                <li class="nav-home">
                  <a href="/admin/dashboard">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <a href="/admin/categoryManagement">Category Management</a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                  <p>Edit Category</p>
                </li>
              </ul>
            </div>
<!-- //////////////////////////////////////// -->

<div class="row justify-content-center my-5">
  <div class="col-md-6">
    <form id="editCategoryForm" class="form-vertical">
      <fieldset>

        <p class="text-danger main-error"></p>

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label errorMsg" for="categoryName">Category Name</label>
          <input id="categoryName" name="categoryName" class="form-control input-md" type="text" value="<%= locals.category ? category.name : ''  %>">
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label errorMsg" for="categoryDesc">Description</label>
          <textarea id="categoryDesc" name="categoryDesc" class="form-control input-md" type="text"><%= locals.category ? category.description : ''  %></textarea>
        </div>

        <!-- Button -->
        <div class="form-group mt-3">
          <button type="submit" id="editCategoryBtn" name="editCategoryBtn" class="btn btn-primary text-white mt-2" data-category-id="<%= categoryId %>">Submit</button>
          <a href="/admin/categoryManagement"><button type="button" id="editCategoryCancel" name="editCategoryCancel" class="btn btn-primary text-light mt-2">Cancel</button></a>
        </div>

      </fieldset>
    </form>
  </div>
</div>






<!-- //////////////////////////////////////// -->

          </div>
        </div>

        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                </li>
              </ul>
            </nav>
            <!-- <div class="copyright">
              2024, made with <i class="fa fa-heart heart text-danger"></i> by
              <a href="http://www.themekita.com">ThemeKita</a>
            </div>
            <div>
              Distributed by
              <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
            </div> -->
          </div>
        </footer>
      </div>
    </div>

    <script>
      const editCategoryForm = document.getElementById('editCategoryForm');
      const categoryName = document.getElementById('categoryName');
      const categoryDesc = document.getElementById('categoryDesc');

      editCategoryForm.addEventListener('submit', (e) => {
      e.preventDefault();

      const editCategoryBtn = document.getElementById('editCategoryBtn');
      const categoryId = editCategoryBtn.dataset.categoryId;
      const categoryNameValue = categoryName.value.trim();
      const categoryDescValue = categoryDesc.value.trim();

      validateCategory(categoryNameValue, categoryDescValue, categoryId);
      });

      const setLoginError = (element, message) => {
          const formGroup = element.parentElement;
          const errorDisplay = formGroup.querySelector('.errorMsg');
      

      errorDisplay.innerText = message;
      element.classList.add('error');
      errorDisplay.classList.add('error');
      element.classList.remove('success');
      errorDisplay.classList.remove('success');

      }; 

      const setLoginSuccess = (element, message) => {
          const formGroup = element.parentElement;
          const errorDisplay = formGroup.querySelector('.errorMsg');

      errorDisplay.innerText = message;
      element.classList.add('success');
      errorDisplay.classList.add('success');
      element.classList.remove('error');
      errorDisplay.classList.remove('error');

      };

      const isValidCategory = categoryValue => {
          let regex = /^[a-zA-Z0-9\s\-_]+$/;
          return regex.test(categoryValue);
      }


      async function validateCategory (categoryNameValue, categoryDescValue, categoryId) {

        let isValid = false;
        console.log(categoryId)

      if(!categoryNameValue) {
          setLoginError(categoryName, "*Please enter the category name");
      }
      else if(!isValidCategory(categoryNameValue)) {
          setLoginError(categoryName, "*Please enter a valid category name");
      }
      else {
          isValid = true;
          setLoginSuccess(categoryName, "Category Name");
      }


      if(!categoryDescValue) {
          setLoginError(categoryDesc, "*Please enter the category description");
          isValid = false;
      }
      else {
          setLoginSuccess(categoryDesc, "Description");
      }

      if (!isValid) {
        return;
      }

      const response = await fetch(`/admin/editCategory/${categoryId}`, {
              method: "POST",
              headers: {
                  'content-type': 'application/json'
              },
              body: JSON.stringify({ name: categoryNameValue, description: categoryDescValue })
          });

          const categoryData = await response.json();

          if(categoryData.success) {
                  window.location.href = "/admin/categoryManagement?message=Category updated successfully...";
          }
          else if(response.ok) {
              const errorDisplay = document.querySelector('.main-error');
              const categoryName = document.getElementById('categoryName');
              const categoryDesc = document.getElementById('categoryDesc');

              errorDisplay.innerText = categoryData.message;
              categoryName.classList.add('error');
              categoryName.classList.remove('success');
          }
      }
  </script>

    <!-- block btn toggle -->
    <script src="/assets2/js/adminScript.js"></script>
    <!--   Core JS Files   -->
    <script src="/assets2/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets2/js/core/popper.min.js"></script>
    <script src="/assets2/js/core/bootstrap.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="/assets2/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="/assets2/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="/assets2/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <!-- Datatables -->
    <script src="/assets2/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="/assets2/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="/assets2/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="/assets2/js/plugin/jsvectormap/world.js"></script>
    <!-- Google Maps Plugin -->
    <script src="/assets2/js/plugin/gmaps/gmaps.js"></script>
    <!-- Sweet Alert -->
    <script src="/assets2/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Kaiadmin JS -->
    <script src="/assets2/js/kaiadmin.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
  </body>
</html>