<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WingCart | <%= user.fname %></title>
    <link rel="stylesheet" href="/static/css/profileStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/static/css/demos/demo-3.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header header-intro-clearance header-3">
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="#" class="logo">
                        <h3 class="text-primary">WingCart</h3>
                    </a>
                </div><!-- End .header-left -->

                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul text-white">Shop</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">About</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <!-- Header-right -->
                <div class="header-right">
                    <div class="wishlist">
                        <a href="#" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="wishlist">
                        <a href="/cartManagement" title="cart">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->



    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="user-header py-3">
            <h5><span><i class="fa-solid fa-user pr-2"></i></span> <%= user.fname %> <%= user.lname %></h5>
        </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"
                            href="/userProfile">General</a>
                        <a class="list-group-item list-group-item-action"
                            href="/changePassword">Change password</a>
                        <a class="list-group-item list-group-item-action"
                            href="/addressManagement">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-social-links">Wishlist</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-connections">Order History</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-notifications">Wallet</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <!-- Profile pic - space -->
                            <!-- <div class="card-body media align-items-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt
                                    class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                            </div> -->
                            <hr class="border-light m-0">
                        </div>
                            <div class="" id="account-change-password">
                                <form id="change-pass-form">
                                    <div class="card-body pb-2">
                                        <h3 class="edit-profile-heading">Change Password</h3>
                                        <p class="main-error text-danger"></p>
                                        <div class="form-group">
                                            <label class="form-label errorMsg">Current password</label>
                                            <input type="password" name="curr-password" id="curr-password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label errorMsg">New password</label>
                                            <input type="password" name="new-password" id="new-password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label errorMsg">Repeat new password</label>
                                            <input type="password" name="conf-password" id="conf-password" class="form-control">
                                        </div>
                                        <div class="text-right mt-3">
                                            <p class="profileMsg"></p>
                                            <button type="submit" class="btn btn-primary my-1" id="change-pass-btn">Submit</button>&nbsp;
                                            <a href="/userProfile"><button type="button" class="btn btn-primary">Cancel</button></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.getElementById('change-pass-form');
        const currPassword = document.getElementById('curr-password');
        const newPassword = document.getElementById('new-password');
        const confPassword = document.getElementById('conf-password');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            validatePassword();
        });

        const setError = (element, message) => {
        const formGroup = element.parentElement;
        const errorDisplay = formGroup.querySelector('.errorMsg');

        errorDisplay.innerText = message;
        element.classList.add('error');
        errorDisplay.classList.add('error');
        element.classList.remove('success');
        errorDisplay.classList.remove('success');

}; 

        const setSuccess = (element, message) => {
        const formGroup = element.parentElement;
        const errorDisplay = formGroup.querySelector('.errorMsg');

        errorDisplay.innerText = message;
        element.classList.add('success');
        errorDisplay.classList.add('success');
        element.classList.remove('error');
        errorDisplay.classList.remove('error');

};

        const validatePassword = async () => {
            
            const currPasswordValue = currPassword.value.trim();
            const newPasswordValue = newPassword.value.trim();
            const confPasswordValue = confPassword.value.trim();

            let isValid = true;

            if(!currPasswordValue) {
                setError(currPassword, 'Please enter your current password');
                isValid = false;
            } else {
                setSuccess(currPassword, "Current Password");
            }

            if(!newPasswordValue) {
                setError(newPassword, 'Please enter a new password');
                isValid = false;
            } else if (newPasswordValue.length < 8) {
                setError(newPassword, 'The length of the password should be at least 8');
                isValid = false;
            } else {
                setSuccess(newPassword, "New Passsword");
            }

            if(!confPasswordValue) {
                setError(confPassword, 'Please confirm the password');
                isValid = false;
            } else if (newPasswordValue !== confPasswordValue) {

                const mainError = document.querySelector('.main-error');
                mainError.innerText = 'Passwords do not match!';

                newPassword.classList.add('error');
                confPassword.classList.add('error');
                newPassword.classList.remove('success');
                confPassword.classList.remove('success');

                isValid = false;
            } else {
                setSuccess(confPassword, "Confirm Password");
            }

            if (!isValid) {
                return;
            }

            const response = await fetch('/changePassword', {
                method: "PATCH",
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    password: currPasswordValue,
                    newPassword: newPasswordValue
                })
            });

            const passData = await response.json();

            if(response.ok && !passData.success) {
                const mainError = document.querySelector('.main-error');
                mainError.innerText = passData.message;

                currPassword.classList.add('error');
                currPassword.classList.remove('success');
                return;
            }
            else {
                const errorDisplay = document.querySelector('.errorMsg');
                errorDisplay.classList.add('success');
                errorDisplay.classList.remove('error');
            }
            
            if(passData.success) {

                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Password changed successfully'
                }).then(() => {
                    window.location.href = '/userProfile';
                });
            }

        }


    </script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>

</html>