    <!--   Core JS Files   -->
    <script src="/assets2/js/core/jquery-3.7.1.min.js"></script>
    <script src="/assets2/js/core/popper.min.js"></script>
    <script src="/assets2/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets2/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="/assets2/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/assets2/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/assets2/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/assets2/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/assets2/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/assets2/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="/assets2/js/plugin/jsvectormap/world.js"></script>

    <!-- Google Maps Plugin -->
    <script src="/assets2/js/plugin/gmaps/gmaps.js"></script>

    <!-- Sweet Alert -->
    <script src="/assets2/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="/assets2/js/kaiadmin.min.js"></script>

    
  </body>
</html>