    <!-- Plugins JS File -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.hoverIntent.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/superfish.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/static/js/main.js"></script>
    <!-- bcrypt CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bcryptjs/dist/bcrypt.min.js"></script>
</body>

</html>